.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sdf-min6.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 395px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  font-family: Arial, sans-serif;
  width: 861px;
  animation-duration: 1000ms;
  margin: 78px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  width: 714px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  animation-duration: 1000ms;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  align-self: center;
  margin: 19px auto 37px;
  padding: 0 31px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 205px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -150px;
    margin-bottom: 60px;
    margin-left: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -183px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -282px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 5934px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 850px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 872px;
  height: 466px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 850px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-2 .u-image-2 {
  width: 620px;
  height: 138px;
  animation-duration: 1000ms;
  margin: 38px auto 0 247px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  width: 850px;
  animation-duration: 1000ms;
  margin: 38px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5853px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 385px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 100px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5739px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 289px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 120px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5588px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 182px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 76px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}