.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sdf-min11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  animation-duration: 1000ms;
  margin: 77px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  width: 714px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 77px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2005px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 850px;
  animation-duration: 1000ms;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 0 auto 0 145px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 850px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 688px;
  height: 321px;
  animation-duration: 1000ms;
  margin: 30px 206px 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 145px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  width: 850px;
  animation-duration: 1000ms;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 32px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1936px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 252px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1843px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 159px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1242px;
}

.u-section-3 .u-image-1 {
  width: 698px;
  height: 383px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 57px auto 0 145px;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  width: 850px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-3 .u-image-2 {
  width: 670px;
  height: 352px;
  animation-duration: 1000ms;
  margin: 30px auto 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 296px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 186px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 179px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 781px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 123px;
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 35px 167px 0 123px;
}

.u-section-4 .u-image-1 {
  width: 633px;
  height: 342px;
  animation-duration: 1000ms;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 184px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 354px;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 0 187px 0 103px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 680px;
    margin-left: 3px;
    margin-right: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}