.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sdf-min10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 343px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  animation-duration: 1000ms;
  margin: 130px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 861px;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 68px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1594px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 850px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 45px 469px 0 auto;
  padding: 9px 37px 11px 36px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 30px 442px 0 auto;
  padding: 9px 31px 11px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 850px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-1 {
  width: 681px;
  height: 365px;
  margin: -25px 192px 45px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 49px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 289px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 182px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 611px;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 850px;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 435px;
  margin: 45px 256px 45px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 412px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 259px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2110px;
}

.u-section-4 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 850px;
  margin: 0 auto;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 315px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  width: 850px;
  margin: 38px auto 0;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 290px;
  margin: 34px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 30px 494px 38px auto;
  padding: 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 680px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2078px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 298px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 274px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1460px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 188px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 173px;
  }
}