.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sdf-min14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 421px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  animation-duration: 1000ms;
  margin: 143px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  width: 714px;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 57px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2816px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 850px;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 338px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 850px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 319px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  width: 850px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-3 {
  width: 467px;
  height: 517px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 30px 110px 0 180px;
}

.u-section-2 .u-image-4 {
  width: 864px;
  height: 450px;
  margin: 30px 110px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  width: 850px;
  margin: 45px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 15px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 80px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2741px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 720px;
    height: 375px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2264px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 320px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 302px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 281px;
  }

  .u-section-2 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2136px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 201px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 190px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 376px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 177px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }
}